.history-command {
    width:100%;
    padding:0px;
    margin:0px;
}

.input-command {
    display: table;
    width: 100%;
    border: none;
    border-radius: 10px;
    outline:none;
    height: 35px;
    background-color: black;
    color:white;
}

.button-command {
    height: 50px;
    width: 100px;
    border: 1px solid white;
    border-radius: 40px;
}

.spinner {
    position: relative;
    top: 79%;
    height: 30px;
    width: 30px;
    border: 3px solid transparent;
    border-top-color: black;
    border-radius: 50%;
    animation: spin 2s linear infinite;
}

.offLoading {
    visibility:hidden;
}

li {
   list-style-type:none;
    color:white;
    text-align:left;
    height: 25px;
}
.scrolle {
    overflow-y: auto;

}

.red{
    color: red;
}

.white {
    color: white;
}
.fontSizePage{
    font-size: 20px;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}