h1,label
{
    text-align: center;
}
.lineTop{
    border-radius: 10px;
    background-color: rgb(41, 41, 41);
    width: 400px;
    height: 2px;
    margin-top: -30px;
    margin-bottom: 25px;
}
.lineBottom{
    border-radius: 10px;
    background-color: rgb(41, 41, 41);
    width: 400px;
    height: 2px;
    margin-top: 25px;
    margin-bottom: 15px;
}

.flex
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.panel
{
    position: absolute;

    top: 45%;
    left: 50%;

    transform: translateX(-50%) translateY(-50%);

    border: 1px solid rgb(71, 71, 71);
    background-color: rgb(61, 61, 61);
    margin: auto;
    width: 400px;
    border-radius: 30px;
}

.input 
{
    height: 40px;
    width: 350px;
    margin-top: 17px;
    margin-bottom: 17px;
    border: 1px none black;
    border-radius: 10px;
    font-size: 23px;
}

.button
{
    height: 30px;
    margin-top: 15px;
    margin-bottom: 25px;
    font-size: 23px;
    outline: none;
    border: 0px none black;
    border-radius: 8px;
}

.login 
{ 
    width: 142.5px;
}

.register
{
    width: 170px;
}

.indentDown
{
    margin-top: 15px;
}
.Error{
    
}

.CookiePanel{
    position: absolute;

    top: 50%;
    right: 50%;

    transform: translateX(50%) translateY(400%);

    display: flex;
    flex-direction: column;
    
    border-radius: 10px;
    background-color: rgb(41, 41, 41);
    
    padding: 10px;
    width: 475px;

}

.CookieLabel{
    margin-bottom: 30px;
}

.CookieButtonContainer{
    padding-bottom: 10px;
}

.CookieYes{
    float: left;
    margin-left: 50px;

    height: 40px;
    width: 150px;

    border-radius: 11px;

    outline-color: orange;
    outline-style: groove;

    font-size: 20px;
}

.CookieNo{
    float: right;
    margin-right: 50px;
    
    height: 40px;
    width: 150px;

    border-radius: 11px;

    outline-color: rgb(38, 157, 255);
    outline-style: groove;

    font-size: 20px;
}