@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
   
    <div id="Console" class="fontSizePage">
        <div id="outputCommand" >
            <ol id="listOutputCommand" class="history-command">
            </ol>
            <input id="inputCommand" type="text" class="input-command" button-command>
        </div>
    </div>
</div>
