@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">WebShell</h1>
    <div class="panelCommand">
        <div id="loading" class="spinner offLoading" >
        </div>
        <textarea id="History" class="history-command"></textarea>
    </div>
    <div class="panelInputCommand">
        <input id="inputCommand" type="text" class="input-command" button-command>  <p></p>
        <input id="buttonCommand" type="button" class="button-command" value="Отправить">
    </div>
</div>
